<%- include('partials/header.ejs') -%>

    <div class="container d-flex" >
        <div class="col-2 d-flex">
            <div class="div-1">
                <h2 class="city-name"><%= city %></h2>
                <span class="country"><%= country %></span>
            </div>
            <div class="div-2">
                <h2><%= temp %>째C</h2><br>
                <h3>Feels like: <%= feelsLike %>째C</h3>
                <h3><%= description %></h3>
                <span class="d-flex min-max">
                    <h3><i class="fa-solid fa-arrow-down-long" style="color: whitesmoke;"></i>: <%= tempMin %>째C </h3>
                    <h3><i class="fa-solid fa-arrow-up-long" style="color: whitesmoke;"></i>: <%= tempMax %>째C</h3>
                </span>
            </div>
            <div class="div-3 d-flex ">
                <h3>humidity: <%= humidity %>%</h3>
                <h3>wind: <%= wind %> km/h</h3>
            </div>
        </div>
        <div class="col-1 d-flex">
            <img class="img" src="<%= imgURL %>">
        </div>
    </div><br>

  <form action="/again" method="post">
    <button type="submit" class="btn">Search Again</button>
  </form>

<%- include('partials/footer.ejs') -%>